* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Asap';
    background-color: #ebebeb;
}


.container {
    padding: 0 80px;
}

header {
    background-color: #F486D6;
    box-shadow: 0px 0px 10px 5px #999999;
    padding: 25px 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    align-content: center;
}

.logo__header  img{
    max-width: 100px;
    position: absolute;
    top: -30px;
    right: 80px;
}

.lista__links {
    list-style: none;
    display: flex;
}

.lista__links a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

.lista__links a :hover{
    color: #F486D6;
    transition: 0.2s ease-in-out;
}

.lista__links li {
    margin: 0 15px;
    font-size: 20px;
}

.dFlex {
    display: flex;
}

.banner__bg {
    background: linear-gradient(rgba(0, 0, 0, 0.65  ), rgba(0, 0, 0, 0.65)), url('img/cabetocarreiro.jpg');
    padding-bottom: 30%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner__text {
    text-align: center;
    align-items: center;
    align-content: center;
    color: #fff;
}

.sobre__widht--50 {
    width: 50%;
}

#home__sobre {
    padding: 80px 0;
}

img.imgCarousel {
    border-radius: 50px;
    border: 1px solid #F486D6;
}

.sobre__title {
    margin-bottom: 0.8rem;
    font-size: 25px;
    color: #F486D6;
}

.sobre__text {
    font-size: 22px;
    font-weight: 600;
}

.carousel-cell {
    padding: 0 20px;
}


.servicos__title {
    font-size: 25px;
    text-align: left;
    color: #000;
    padding: 0.8rem 0;
}

.servicos__area{
    justify-content: space-between;
}
